.intro, .story, .invitation, .instructions {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    background-image: url('\\assets\\main_photo.jpg');
    min-height: 100%;
}

.parallax { 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.story {
    background-image: url('\\assets\\main_photo_fb.jpg');
    min-height: 100%;
}

.invitation {
    background-image: url('\\assets\\main_photo_view.jpg');
    min-height: 100%;
}

.instructions {
    background-image: url('\\assets\\main_photo_chill.jpg');
    min-height: 100%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    overflow: hidden;
    background-color: #333333;
  }

li {
    float: right;
  }
  
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 40px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: #111111;
  }
footer { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  } 